body {
	padding-top: 61px;
	.navbar-header {
		.nav-bar-brand {
			margin-top: -15px;
			mairgin-bottom: -20px;
		}
		h6 {
			color: #ccc;
		}
	}
	#toast-container {
		.toast-top-right {
			top: 75px;
		}
	}
	footer {
		padding-left: 15px;
		padding-right: 15px;
		p {
			border-top: 1px solid #d7e0e2;
		}
	}
}